body{
    background-color: rgb(10, 87, 155);
}
.container{
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    height: fit-content;
}
h2{
    text-align: center;
}
.btn{
    border-radius: 5px;
    width: 10%;
    font-weight: bold;
}
.btns{
    width: 99%;
    padding-bottom: 2px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1%;
}
.choosen{
    color: rgb(11, 134, 93);
    background-color: aliceblue;
}
.notChoosen{
    color:aliceblue;
    background-color: rgb(11, 134, 93);
}